<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <title>Keyword Finder</title>
      <script type='text/javascript'>
      // In such way we connect ipcRenderer to our page.
      const ipcRenderer = require('electron').ipcRenderer;
      </script>
    </head>
    <body>
      <h1>Get Keywords</h1>
      <form>
        <input type="text" name="search" id="search"/>
        <button type="button" id="searchBtn">Search</button>
        <a href="http://127.0.0.1:5000/">Go</a>
        <script type='text/javascript'>
          // On click we should send event to close window.
          document.getElementById("searchBtn").addEventListener("click", function (e) {
            ipcRenderer.send('search-keyword-event', document.getElementById('search').value);
          });
          ipcRenderer.on('search-keyword-event-finished' , function(event , data){
            console.log("dsdsd");
            });
        </script>
      </form>
    </body>
  </html>git remote add origin git@github.com:geojacobm6/keyword_finder.git